nav
    .nav-wrapper
        a.brand-logo(href='/') Online Lessons
        ul#nav-mobile.right.hide-on-med-and-down
            li
                a(href='/api/lessons') All lessons
            li
                a(href='/api/lessons/add') Add lesson
            li
                a(href='/contact') Contact
